<% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% content_for :title, t("retire_document.retire.title", title: @document.title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(new_retirement_path(@document)) do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("retire_document.retire.explanatory_note.title"),
          bold: true
        },
        id: "retirement_explanatory_note",
        name: "explanatory_note",
        rows: 2,
        data: {
          "contextual-guidance": "retirement-explanatory-note-guidance",
        }
      }%>
      <%= render "govuk_publishing_components/components/button", {
        text: "Save", margin_bottom: true
      } %>
  <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "components/contextual_guidance", {
      id: "retirement-explanatory-note-guidance",
      title: t("retire_document.retire.explanatory_note.guidance_title"),
    } do %>
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <%= govspeak_to_html t("retire_document.retire.explanatory_note.guidance") %>
      <% end %>
    <% end %>
  </div>
</div>
